aiosmtplib
asyncio_redis
black
colorama
coverage
email_validator
flake8
flask-babel
flask-wtf
jinja2
Markdown
mypy
pycodestyle
pytest
pytest-asyncio
pytest-cov
pytest-mock
pytest-random-order
pytest-redis
quart
recommonmark
sly
sphinx
structlog
