{% extends 'base.html' %}
{% block content %}
<section>
<h1>{% trans %}Diversity and Conduct{% endtrans %}</h1>

<p>{% trans %}Happily, we are a diverse community who maintain a
reputation as a friendly, welcoming and tolerant group.{% endtrans %}</p>

<p>{% trans %}We trust users will treat each other in a way that celebrates 
our diversity and fosters friendliness, collaboration and
honesty.{% endtrans %}</p>

<p>{% trans %}We believe users have a right to:{% endtrans %}</p>

<ul>
    <li>{% trans %}be treated with courtesy, dignity and respect;{% endtrans %}</li>
    <li>{% trans %}be free from any form of discrimination, victimisation,
    harassment or bullying;{% endtrans %}</li>
    <li>{% trans %}enjoy an environment free from unwelcome behaviour,
    inappropriate language and unsuitable imagery.{% endtrans %}</li>
</ul>

<p>{% trans %}Our users come from different countries and cultures, with
different views, perspectives, opinions and widely varying backgrounds.
Therefore, it is important we all assume everyone is acting in good faith.
When inevitable disagreements or conflicts arise, we try as best we can to
explain and resolve the problem while giving others the opportunity to reply
in kind.{% endtrans %}</p>

<p>{% trans %}However, assuming good faith does not prohibit robust discussion
or criticism offered in a constructive manner.{% endtrans %}</p>

<p>{% trans %}In the face of specific and obvious evidence of
malice, be civil and <a href="mailto:ntoll@ntoll.org">contact us in private</a>
for help addressing the situation. Please ensure you substantiate and offer
evidence for the basis of your concerns. Such contact will remain
confidential, be taken seriously, investigated and dealt with
appropriately.{% endtrans %}</p>

<p>{% trans %}TextSmith administrators reserve the right to carry out any of
the following actions relating to a complaint from a user:{% endtrans %}</p>

<ul>
    <li>{% trans %}Persons concerned may be told to stop or modify their
    behaviour appropriately and a warning will be issued.{% endtrans %}</li>
    <li>{% trans %}Persons concerned may be warned that enforcement action may
    be taken if the problem continues.{% endtrans %}</li>
    <li>{% trans %}Persons concerned may be immediately logged off TextSmith
    with their account suspended for a clearly defined period of time
    (including an unlimited permanent suspension).{% endtrans %}</li>
</ul>

<p>{% trans %}TextSmith logs interactions with the service. We do this to
help us better understand how the system is functioning. We also collect other
data about users
<a href="/privacy">as outlined in our privacy statement</a>.{% endtrans %}</p>

<p>{% trans %}This statement is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons License</a>.{% endtrans %}</p>

</section>
{% endblock %}
