{% extends "base.html" %}
{% block content %}
<section>
    <p>{% trans %}Instructions:{% endtrans %}</p>
    <ol>
        <li><a href="{{ url_for('signup') }}">{% trans %}Sign up.{% endtrans %}</a></li>
        <li><a href="{{ url_for('login') }}">{% trans %}Log in.{% endtrans %}</a></li>
        <li><a href="{{ url_for('client') }}">{% trans %}Explore, create, collaborate and enjoy.{% endtrans %}</a></li>
    </ol>
    <p>{% trans %}The rest is explained inside the world... if you're stuck,{% endtrans %}
    <a href="{{ url_for('help') }}">{% trans %}read the docs.{% endtrans %}</a></p>
</section>
{% endblock %}
