{% extends 'base.html' %}
{% block content %}
<section>
    <p>{% trans %}Please enter and confirm your new password in the form
    below.{% endtrans %}</p>

    {% if form.errors %}
    <p><strong>There are problems with the values you entered.</strong></p>
    {% endif %}
    <form action="{{ url_for('password') }}" method="post">
        {{ form.csrf_token }}
        <p>{{ form.password1.label }}:<br/>{{ form.password1}}
        {% if form.password1.errors %}<strong>{% for error in form.password1.errors %}{{ error }} {% endfor %}</strong>{% endif %}</p>
        <p>{{ form.password2.label }}:<br/>{{ form.password2}}</p>
        <p><input type="submit" value="{% trans %}Submit{% endtrans %}"></p>
    </form>
</section>
{% endblock %}
